* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #404040;
  color: #f2f2f2;
  font-size: 24px;
  font-family: "Nesans", Courier, monospace;
}

header {
  width: 100%;
}

header div {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
}

.logo {
  margin: 10px;
  width: 80px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}

.menu a {
  text-decoration: none;
  margin: 25px;
  color: whitesmoke;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  font-family: "Airthan", Courier, monospace;
  font-size: 40px;
}

a:hover {
  color: #b366ff;
}

img {
  width: 800px;
  border: 10px groove black;
  border-radius: 40px;
}

.imagens {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  background-color: #262626;
  margin-bottom: 30px;
}

.imagens h1 {
  color: whitesmoke;
}

h1 {
  margin: 35px;
  font-family: "ka1", Courier, monospace;
  font-size: 70px;
  letter-spacing: 7px;
}

h1:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #e71388 20%,
    #ec417d 30%,
    #bb3b9e 40%
  );
}

main {
  width: 850px;
}

#personagens-principais {
  font-size: 38px;
}

#personagens-principais:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #e71388 10%,
    #ec417d 30%,
    #bb3b9e 50%
  );
}

#sobre:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #e71388 20%,
    #ec417d 30%,
    #bb3b9e 40%
  );
}

p {
  margin: 20px;
  width: 830px;
}

.personagens ul {
  display: none;
}

.personagens li {
  margin: 20px;
  margin-bottom: 40px;
  padding: 8px;
  /* display: inline-block; */
}

.personagens > li:hover {
  color: #b366ff;
  border-left: 8px solid #b366ff;
  cursor: pointer;
}

ul {
  width: 850px;
  list-style: none;
}

span {
  color: red;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1a1a1a;
}

footer p {
  text-align: center;
  color: whitesmoke;
}

footer p:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #e71388 20%,
    #ec417d 30%,
    #bb3b9e 40%
  );
}

@font-face {
  font-family: "Airthan";
  src: url("../fonts/Airthan-Age.ttf") format("truetype");
}

@font-face {
  font-family: "ka1";
  src: url("../fonts/ka1.ttf") format("truetype");
}

@font-face {
  font-family: "Nesans";
  src: url("../fonts/Nesans Semi Bold.ttf") format("truetype");
}

/* de 880px */
/* A partir de 990px de largura */
@media (min-width: 880px) and (max-width: 990px)  {
  div a img {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

}

@media (min-width: 450px) and (max-width: 880px) {

  div a img {
    display: none;
  }

  #sobre {
    padding-left: 20px;
  }

  .menu {
    display: none;
  }

  .imagens {
    display: none;
  }

  main {
    background-color: #262626;
  }

  footer {
    display: none;
  }
}