* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 35px;
    font-family: Courier;
    font-size: 45px;
}

img {
    width: 800px;
    border: 10px groove black;
    border-radius: 40px;
}

main {
    width: 850px;
}

p {
    margin: 20px;
    width: 830px;
    font-family: comic;
}

ul {
    /* list-style: none; */
    width: 850px;
    /* display: none; */
}

.esconder {
    display: none;
}